.footer-box p{
    color: #71124B;
    text-align: center;
    font-family: Rowdies;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.1875rem;
    margin-top: 4.5rem;
}